@import url('https://fonts.googleapis.com/css?family=Poppins:width@200;400&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: gainsboro;
  color: black;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form{
  width: 100%;
  max-width: 700px;
}
.user-form input{
  width: 100%;
  display: block;
  background-color:cornsilk;
}





































































 