@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color:#ffffff;
  --secondary-color: #64485c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(200px);
}

nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}
header .header_logo{
  margin: 0;
  padding: 0;
  text-align: right;
  left: 63%;
  position: absolute;
}
header .header_logo img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: blanchedalmond;
  
}
nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  font-size: 130%;
  color: black;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.781);
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  flex-direction: column;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--primary-color);
  color: rgb(0, 0, 0);
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
  margin-top: 10px;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 19px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
}

@media only screen and (max-width: 75em) {
  header .header_logo img{
    visibility: hidden;
    transition: 0.1s;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

















/*gitHubProfile_search*/


.user-form{
  width: 100%;
  max-width: 700px;
}
.user-form input{
  width: 100%;
  display: block;
  background-color:cornsilk;
  border: none;
  border-radius: 10px;
  color:black;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-family: inherit;
}

.user-form input:focus{
  outline: none;
}

.card{
  max-width: 800px;
  background-color: beige;
  border-radius: 20px;
  display: flex;
  padding: 3rem;
  margin: 0 2rem;

}

.avater{
  border-radius: 50%;
  border: 8px solid #bbb;
  height: 150px;
  width: 150px; 
}

.user-info{
  color: eee;
  margin-left: 2rem;
}

.user-info h2{
  margin-top: 0rem;
}

.user-info ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 0rem;
  padding: 0;
  max-width: 400px;
}


.user-info ul li{
  display: flex;
  align-items: center;
}

.user-info ul li strong{
  font-size: .6rem;
  margin-left: .4rem;
}

.repo{
  text-decoration: none;
  color: #fff;
  background-color: rgb(6, 66, 58);
  font-size: 0.7rem;
  padding: 0.25rem 0.7rem;
  margin-right: .5rem;
  margin-bottom: 0.5rem;
  display: inline-block;

}


@media (max-width: 500px) {
  .card{
    flex-direction: column;
    align-items: center;
  }

  .user-form{
    max-width: 400px;
  }
}
/*end github_profile search*/
